# ###############################
# ########## General ############
# ###############################

# System Files 
**/.git
**/.DS_Store
**/.Thumbs.db
**/.h2

# ###############################
# ############ Java #############
# ###############################

!**/src/main/**
!**/src/test/**

# Compiled class file
/**/*.class

# Eclipse artifacts and output dirs
**/.project
**/.settings
**/.classpath
**/.recommenders
**/.factorypath
**/target
**/bin
**/.**.md.html
**/.metadata
**/.apt_generated
**/.pmd
**/.pmdruleset.xml

# IDEA artifacts and output dirs
.idea
**/*.iml
**/*.ipr
**/*.iws
**/.idea
**/out
**/test-output

# VSCode artifacts and output dirs
**/.vscode/

# Package files
**/*.jar
**/*.war
**/*.nar
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar

# Misc
**/hs_err_pid*
**/*.java.hsp
**/.mtj.tmp/
**/*.sonarj
**/*.sw*

!.mvn/wrapper/maven-wrapper.jar
**/.sts4-cache
**/.springBeans
**/.flattened-pom.xml
